body {
    font-family: Arial, sons-serif;
    background: #f5f5f5;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 2px 6px rgba(0 ,0 ,0 , 0, 1);
}

form {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 5px;
    font-size: 1ram;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

li .entrada span {
    color: green;
}

li .saida span {
    color: red;
}